body 
{
	background-image: url(../img/pattern.jpg);
	background-size: cover;
	background-attachment: fixed;

}
#article-list{
	background: white;
	width: 60%;
	padding: 10%;
	margin: 100px auto;
}
p {
	font-size: 25px;
	color: black;
}
footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;
}
nav{
	width: :100%;
  border: #e7e7e7;
  background-color: #f3f3f3;
  	overflow: auto;
}
ul{
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
}
li{
	float: right;
}
#logo{
	position: absolute;
	margin-top: 0px;
	margin-left: 10px;
}

nav a{
	width: :100px;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: #666;
}